
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100%; /* Use min-height to cover at least the viewport */
    width: 100%;
    /*scrollbar-color: rgb(250, 60, 92) black;*/
    /*scrollbar-width: thin;*/
}

body {
    background-color: #000000;
    color: white;
}

#root {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}