@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.loginContainer {
    width: 80vw;
    height: 100vh;
    /*background-color: #b8b4b4;*/
    background: linear-gradient(135deg, #000000, #F72585);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    font-size: 1.2rem;

    animation: fadeInUp 0.8s ease-out forwards;

}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 20%;
}

.heading {
    color: white;
    font-size: 24px;
    margin-top: 10px;
}

.form {
    background-color: #000000;
    padding: 50px;
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.input {

    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #1c1c1c;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.input:focus {
    outline: none;
    border-color: #F72585;
}


.button {
    width: 100%;
    padding: 12px;
    background-color: #F72585;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #e10c9d;
    color: #d5cdcd;
}



.optionContainer{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.optionContainer a {
    color: #F72585;
    text-decoration: none;
}
.optionContainer a:hover {
    text-decoration: underline;
}

.passwordWrapper {
    position: relative;
    width: 100%;
}

.passwordWrapper .input {
    padding-right: 2.5rem; /* Room for eye icon */
}

.eyeButton {
    position: absolute;
    top: 35%;
    right: 1rem;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.eyeButton:hover {
    color: white;
}

