.sidebar {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #121212;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
}

.header {
    font-size: 18px;
    font-weight: 600;
}

.songCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;

}

.albumArt {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.songInfo {
    text-align: center;
}

.songInfo h3 {
    margin: 5px 0;
    font-size: 16px;
}

.songInfo p {
    font-size: 14px;
    color: #b3b3b3;
}

.noSong, .noCredits {
    color: #666;
    font-size: 14px;
}

.creditsSection {
    margin-top: auto;
}

.creditsSection h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.creditsList {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #b3b3b3;
}
